body{
background-image: url("Background-Pic.jpg");
background-size: 100%;
}

#title{
   background-color: orange;
   padding: 30px 10px 30px 10px;
   width: 15%;
   color: white;
   font-size: 25px;
}

#Instructions{
   width: 30%;
   background-color: beige;
   color: blue;
   padding: 10px 10px 10px 10px;
}

#random{
   width:20%;
   background-color: darkgreen;
   padding: 30px 10px 30px 10px;
   color: darkmagenta;
   display:inline-block;
   font-size: 30px;
}

#Wins,#Losses,#WinsD,#LossesD{
width: 5%;
background-color: skyblue;
color: blue;
}

#Blue-Crystal,#Red-Crystal,#Yellow-Crystal,#Green-Crystal{
   float: left;
}
#totalScoreText{
   color: white;
   background-color: darkgreen;
   width: 20%;
}

#totalScore{
   padding: 20px 20px 20px 20px;
   background-color: cyan;
   width: 20%;
}